body{
    background: red;
}

#login-div1{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
    width:800;
    height:150;
    margin-left: 400px;
    margin-right: 400px;
}

#login-div2{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
    width:800;
    height:150;
    margin-left: 400px;
    margin-right: 400px;
}

#player1_name{
    display: inline-block;
    margin-left: 3px;

}

#player1_name{
    display: inline-block;
    margin-left: 3px;

}
#output{
    background-color: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}
#Number1{
    border-left: px;
}